body {
  font-family: 'Poppins', sans-serif;
  background-color: #f5f5f5;
  color: #34495e;
  line-height: 1.6;
}


h1 {
  margin: 40px;
  animation: slideIn 3s infinite;
  text-align: center;

}

h2 {
  margin: 0;
  animation: bounce 2s infinite;
  text-align: center;
}

body {
	margin: 0;
  background-color: #ecf0f1; /* Light Gray */
  color: #34495e; /* Dark Blue Gray */
  line-height: 1.6;
}

.navbar{
	background: #34495e;
	margin: 0;
	padding: 20px 0;
  max-width: 100%;
  margin: 0 auto;
  animation: fadeIn 1s;
}
 
.logo{
	font-size: 13pt;
	font-weight: bold;
	text-decoration: none;
	color: white;
}
 
.container{
	display: flex;
	justify-content: space-between;
	align-items: center;
}
 
.tombol{
	display: none;
	color: white;
	font-size: 14pt;			
  max-width: 100%;
}
 
.tombol:hover{
  color: #e67e22;
	cursor: pointer;
}
 
.menu{
	margin: 0;
	display: flex;
	list-style: none;
	padding: 0;
  border-radius: 15px;			
}
 
.menu li{
	padding-left: 0;
	margin-right: 10px;
}
 
.menu li a{
	padding:10px;
	color: #bdc3c7;
	text-decoration: none;
	display: inline-block;
  transition: transform 0.3s, color 0.3s;
}

.menu li a:hover {
  color: #e67e22;
  transform: scale(1.1); /* Membesarkan item menu saat hover */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Menambahkan bayangan saat hover */
  border-radius: 5px;
}


.container {
  max-width: 100%;
  margin: 0 auto;
  padding: 20px;
}

.hero {
  background: white;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  padding: 20px;
  text-align: center;
  max-width: 100%;
  margin: auto;
}

.hero img {
  width: 100%;
  border-radius: 10px;
}

.cta-button {
  display: inline-block;
  background: #e74c3c;
  color: white;
  padding: 10px 20px;
  border-radius: 15px;
  text-decoration: none;
  transition: background 0.3s;
  margin-bottom: 10px;
  
}

.cta-button:hover {
  background: #c0392b;
}

footer {
  text-align: center;
  max-width: 100%;
  padding: 15px 0;
  background: #2c3e50;
  color: white;
  max-width: 100%;
  margin: 0 auto;
}

/* Animations */
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes slideIn {
  from {
    transform: translateY(-20px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes titleAnimation {
  0% {
    transform: translateY(-50px);
    opacity: 0;
  }
  50% {
    transform: translateY(10px);
    opacity: 1;
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes shake {
  0% {
    transform: translateX(0);
  }
  25% {
    transform: translateX(-5px);
  }
  50% {
    transform: translateX(5px);
  }
  75% {
    transform: translateX(-5px);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes bounce {
  0%,
  20%,
  50%,
  80%,
  100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-10px);
  }
  60% {
    transform: translateY(-5px);
  }

}

@media screen and (max-width: 768px) {
	.menu {
		display: none;
	}
 
	.menu.aktif{
		display:inline-block;
		position: absolute;
		top: 64px;
		background: #212121;
		padding: 10px 20px;
		right: 0;
		left: 0;
	}
 
	.menu.aktif li a{
		padding: 10px;
		display: inline-block !important;
	}
 
	.tombol {
		display: block;
	}
}